html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'BaroqueScript';
    src: local('BaroqueScript'),
    url('../fonts/BaroqueScript.ttf') format('truetype');
}

.app-title {
    font-family: "BaroqueScript", 'sans-serif';
}

.container {
    height: 100%;
    position: relative;
}

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

#map {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
}

.options-box {
    background: rgba(114, 47, 55, 0.11);
    height: 50%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 25vw;
    position: relative;
    z-index: 1;
}